* {
    margin: 0;
}

body {
    background-color: #fafbfc;
}

header {
    background: linear-gradient(68.15deg, #2d8349 16.62%, #1b8705 85.61%);
    padding: 7px;
    color: #fff;
    text-align: center;
}
.title{
    color: rgb(55, 54, 54);
}
main {
   padding: 30px 50px; 
}

.card {
    background-color: rgba(20, 129, 49, 0.163);
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.textCard{
    font-size: 8px;
    margin-bottom: 14px;
    color:rgb(59, 59, 59);
}
.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button {
    border: 0;
    padding: 10px;
    outline: 0;
    background-color:green;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: gray;
}

.content {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(47, 111, 69);
    color:#fff;
}

.center {
    text-align: center;
}
